doctype html
html
    head
        title Користувачі
        link(rel="stylesheet", href="/public/css/styles.css")
    body
        h1 Список користувачів
        ul
            each user in users
                li: a(href=`/users/${user.id}`) #{user.name}