table {
    width: 100%;
    margin-top: 30;
}

.btable {
    border: 1px solid black;
    border-collapse: collapse;
}

.btable td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.btable insidet {
    margin: 20;
}

.container {
    overflow: hidden;
}

.block {
    padding: 20px;
    background-color: grey;
    border: 1px solid black;
    float: left;
}

.left {
    width: 200px;
    background-color: darkgray;
    margin-left: calc(100%+250px);
}

.right {
    width: 200px;
    background-color: darkgray;
    float: right;
}

.middle {
    width: 200px;
    background-color: darkgray;
    margin-left: calc(100% - 740px);
}

.main {
    width: 200px;
    background-color: darkgray;
    margin-left: calc(100% - 1980px);
}

.middle1 {
    width: 200px;
    background-color: darkgray;
    margin-left: calc(100% - 1000px);
}

.left1 {
    width: 200px;
    background-color: darkgray;
    margin-left: calc(100% - 1450px);
}

.middle2 {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: darkgray;
    margin-left: calc(100% - 500px);
}

.right1 {
    width: 200px;
    height: 60px;
    background-color: darkgray;
    float: right;
}

.right2 {
    width: 200px;
    height: 60px;
    background-color: darkgray;
    float: right;
    margin: 1vi;
    margin-right: calc(100% - 1460px);
}

.middle3 {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: darkgray;
    margin-left: calc(100% - 1000px);
}

.right3 {
    width: 200px;
    height: 60px;
    background-color: darkgray;
    float: center;
    margin-left: 10px;
    margin-right: 10px;
}

.right4 {
    width: 200px;
    height: 60px;
    background-color: darkgray;
    float: center;
    margin: 7.78vi;
    margin-left: calc(100% - 1712px);
}
















