body {
    padding: 20px;
    text-align: justify;
}

.section {
    background-color: mediumturquoise;
    padding: 20px;
    margin: 20px;
}

span.highlighted {
    background-color: yellow;
    margin-left: 10;
    margin-right: 10;
    padding: 10px; 10px;
}

img {
    height: 40px;
}