body {
    margin: 0;
}

.header {
    grid-area: header-area;
    background-color: lightskyblue;
    text-align: center;
    box-sizing: border-box;
}

.content {
    grid-area: content-area;
    background-color: lightgrey;
    text-align: center;
    box-sizing: border-box;
}
.signup {
    grid-area: signup-area;
    background-color: lightblue;
    text-align: center;
    box-sizing: border-box;
}

.feature-bisque {
    grid-area: feature-bisque-area;
    background-color: bisque;
    text-align: center;
    box-sizing: border-box;
}

.feature-lightcoral {
    grid-area: feature-lightcoral-area;
    background-color: lightcoral;
    text-align: center;
    box-sizing: border-box;
}

.feature-violet {
    grid-area: feature-violet-area;
    background-color: violet;
    text-align: center;

}

@media (max-width: 2200px) {
    .grid {
        display: grid;
        background-color: dodgerblue;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20px 200px 300px 80px 300px;
        grid-template-areas:
    ". . ."
    "header-area header-area header-area"
    "feature-bisque-area feature-violet-area feature-lightcoral-area"
    "signup-area signup-area signup-area"
    "content-area content-area content-area";
    }
}

@media (max-width: 500px) {
    .grid {
        display: grid;
        background-color: dodgerblue;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20px 200px 300px 80px 80px;
        grid-template-areas:
    ". ."
    "header-area header-area"
    "content-area content-area"
    "signup-area feature-bisque-area"
    "feature-lightcoral-area feature-violet-area";
    }
}

@media (max-width: 300px) {
    .grid {
        display: grid;
        background-color: dodgerblue;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 20px 200px 300px 100px 100px 100px 100px;
        grid-template-areas:
    "."
    "header-area"
    "content-area"
    "signup-area"
    "feature-bisque-area"
    "feature-lightcoral-area"
    "feature-violet-area";
    }
}